<div class="container bg-light rounded" id="gift-container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="text-center">Your Gift From: {{example.gifter}}</h1>
          <hr>
          <h5 class="card-title">To: {{example.text}}</h5>
          <p>
            <strong>Gift</strong>: {{example.description}}</p>
          <p>
            <strong>Picture</strong>: </p>
            <br>
            <img class="center animated zoomIn" id="link-image" src="{{example.gift}}" />
            <br>
            <a href="/">← Back To The Party!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

    <div class="footer text-dark font-weight-bold">
        <p>
        © 2018 Copyright | 
        <a href="https://github.com/carsoncurry/Virtual-Elephant" target="_blank"><i class="fab fa-github"></i> GitHub Repo</a>
        </p>
    </div>

<!-- Footer -->