<div class="container bg-light">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">To: {{example.text}}</h5>
          <p>
            <strong>From</strong>: {{example.gifter}}</p>
          <p>
          <p>
            <strong>Gift</strong>: {{example.description}}</p>
          <p>
            <strong>Picture</strong>: </p>
            <br>
            <img id="link-image" src="{{example.gift}}" />
            <br>
            <a href="/">← Back To The Party!</a>
        </div>
      </div>
    </div>
  </div>
</div>
