<div class="jumbotron bg-info">
  <h1 class="text-center"><img src="https://image.flaticon.com/icons/svg/113/113269.svg" id="elephant-logo" alt="logo"> {{msg}} <img src="https://image.flaticon.com/icons/svg/113/113269.svg" id="elephant-logo" alt="logo"></h1>
</div>

<div id="home">
  <div class="container bg-light">
    <div class="row col-md-12">
        <h2 class="text-center">Welcome to your personal gift exchange party page!</h2>
        <form class="clearfix mb-4 col-md-12" action="POST">
          <div class="form-group">
            <label for="example-text">Your Name</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Your Name">
          </div>
          <div class="form-group">
            <label for="example-description">Gift Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Describe Your Gift"></textarea>
          </div>
          <div class="form-group">
            <label for="example-image">Gift Image</label>
            <textarea class="form-control" id="gift-image" aria-describedby="gift-image" placeholder="Upload a link to your image"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
  </div>
        
  <div class="container bg-light">
    <div class="row">
      <div class="col-md-2">
        <h3>Guest:</h3>

      </div>
      <div class="col-md-2">
        <h3>Current Gift:</h3>
      </div>

      <div class="col-md-5 offset-2">
        <h3>Gift Pile:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">Secret Gift</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div id="elephant-chat">
    <div id="chat-window">
      <div id="output"></div>
      <div id="feedback"></div>
    </div>
    <input id="handle" type="text" placeholder="Handle" />
    <input id="message" type="text" placeholder="Message" />
      <button id="send">Send</button>
    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/chat.js"></script>
<script src="/js/index.js"></script>
