body {
  background: url("../images/Christmas-Jumper-Pattern-4.png");
  font-family: 'Source Code Pro', monospace;
}

ul:last-child {
  margin-bottom: 15px;
}

a {
  font-weight: bold;
  color: red;
}

.card {
  margin-bottom: 30px;
}

.jumbotron {
  background: url("../images/Free-Christmas-Blue-Background-2.png");
  font-family: 'Press Start 2P', cursive;
  border-bottom: solid black;
}

#gift-container, #invitation-container {
  margin-top: 60px;
}

#invitation-button, #return-button {
  margin: 15px 0 15px 0;
}

#home {
  padding-top: 30px;
}

#invitation-header {
  margin-top: 30px;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
}

.container {
  margin-bottom: 50px;
  background: url("../images/Free-Christmas-Blue-Background-2.png");
  border: solid black;
}

.list-group-item {
  line-height: 2.5;
}

.box-container {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

/* .brand {
  text-align: center;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.invitation-form {
  background: #c9e6ff;
}

.invitation-form h3,
.invitation-form ul {
  text-align: center;
  margin: 0 0 1rem 0;
} */

/*g added on 11/30*/
/* #author_name, #author_email{
    height: 30px;
}

.para{
  font-size: 24px;
  color: rgb(37, 71, 9);
}

.h2{
  font-size: 30px;
  font-weight: 900px;
}

#invitation-container{
  padding-top: 50px;
  padding-bottom: 200px;
}

.email-message{
  background-color: #8cda84;
  width: 500px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  
}

.about-form{
  font-size: 24px;
} */

/**/
/* .contact {
  background: #768c91;
} */

/* FORM STYLES */
/* .contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
 
}

.contact form label {
  display: block;

}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: #46637c;
  border: 0;
  text-transform: uppercase;
}

.bounceInLeft{
  background-color: red;
}

.contact form button:hover,
.contact form button:focus {
  background: #c0ff14;
  color: rgb(78, 166, 218);
  outline: 0;
  transition: background-color 2s ease-out;
} */

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background: url("../images/Free-Christmas-Blue-Background-2.png");
   color: white;
   text-align: center;
   padding-bottom: 5px;
   padding-top: 10px;
   border-top: solid;
   border-color: black;
}

/* LARGE SCREENS */

@media(min-width:769px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  } 
}

@media(max-width:768px){
.contact form button {
  background-color: rgb(71, 71, 175);
  margin-bottom: 30px;
  margin-top: 10px;
} 
.contact form {
  display: inline;
}
}
#elephant-logo {
  width: 100px;
  /*  Icon made by Freepik from www.flaticon.com  */
}

#elephant-chat{
  max-width: 500px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  height: 200px;
  overflow: auto;
  background: white;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  font-weight: bold;
  color: darkolivegreen;
  font-family: 'Source Code Pro', monospace;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: red;
  font-family: 'Source Code Pro', monospace;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}

#send {
  background: red;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-family: 'Source Code Pro', monospace;
}

#invite-button, #modal {
  font-size: 18px;
  margin: 15px 0 15px 0;
}

#welcome-text {
  margin: 5px;
}

#link-image {
  max-width: 500px;
}

